p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  body{
    margin:0;
    padding-top:100px;
    padding-left: 80px;
  }
  .container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px;
    width:400px;
    padding:10px;
    border-style: solid;
    border-color: gray;
    border-width: 4px;
  }
  .option{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .count{
    background-color: blue;
    border-style: none;
    color: #ffffff;
    padding:15px;
  }